body    {
    background-color: rgb(73, 73, 212);
}

h1  {
    text-align: center;
}

button{
    margin-left: 75px;
    background-color: aquamarine
}

#Thunder  {
    margin-left: 400px;
}

  .Carnival {
    height: 500px;
    width: 600px;
    border: 10px;
    border-color: black;
    border-style: solid;
    background-color: black;
    margin-left: 400px;
  }

  .Molly {
      height: 100px;
      width: 100px;
      border: 5px;
      border-color: black;
      border-style: solid;
      background-color: blueviolet;
  }